
.gradle/8.10/executionHistory/executionHistory.bin
/.gradle/8.10
/.gradle/8.10/executionHistory
.idea/KotlinLern.iml
/.gradle/
/.idea/
/build/kotlin/compileKotlin/
/.gradle/8.10/fileHashes/
.gradle/8.10/executionHistory/executionHistory.lock
*.bin
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/file-system.probe
build-history.bin
buildOutputCleanup.lock
counters.tab
executionHistory.bin
executionHistory.lock
file-system.probe
file-to-id.tab
file-to-id.tab.keystream
file-to-id.tab.keystream.len
file-to-id.tab.len
file-to-id.tab.values.at
file-to-id.tab_i
fileHashes.bin
fileHashes.lock
id-to-file.tab
id-to-file.tab.keystream
id-to-file.tab.keystream.len
id-to-file.tab.len
id-to-file.tab.values.at
id-to-file.tab_i
internal-name-to-source.tab
internal-name-to-source.tab.keystream
internal-name-to-source.tab.keystream.len
internal-name-to-source.tab.len
internal-name-to-source.tab.values.at
internal-name-to-source.tab_i
last-build.bin
lookups.tab
lookups.tab.keystream
lookups.tab.keystream.len
lookups.tab.len
lookups.tab.values
lookups.tab.values.at
lookups.tab.values.s
lookups.tab_i
outputFiles.bin
package-parts.tab
package-parts.tab.keystream
package-parts.tab.keystream.len
package-parts.tab.len
package-parts.tab.values.at
package-parts.tab_i
proto.tab
proto.tab.keystream
proto.tab.keystream.len
proto.tab.len
proto.tab.values
proto.tab.values.at
proto.tab.values.s
proto.tab_i
shrunk-classpath-snapshot.bin
source-to-classes.tab
source-to-classes.tab.keystream
source-to-classes.tab.keystream.len
source-to-classes.tab.len
source-to-classes.tab.values.at
source-to-classes.tab_i
source-to-output.tab
source-to-output.tab.keystream
source-to-output.tab.keystream.len
source-to-output.tab.len
source-to-output.tab.values
source-to-output.tab.values.at
source-to-output.tab.values.s
source-to-output.tab_i